/* Made by dst212- https://github.com/dst212/dst212.github.io/ */

@keyframes overflow {
	0% { overflow: hidden; }
	99% { overflow: hidden; }
	100% { overflow: visible; }
}

@keyframes shrink-and-hide {
	0% { max-height: 1000vh; }
	99% { max-height: 0; }
	100% { max-height: 0; display: none; }
}
@keyframes show-and-grow {
	0% { display: initial; }
	1% { max-height: 0; }
	100% { max-height: 1000vh; }
}

@keyframes shake {
	0%		{ transform: rotate(0deg); }
	33%		{ transform: rotate(15deg); }
	67%		{ transform: rotate(-15deg); }
	100%	{ transform: rotate(0deg); }
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}

@keyframes blink {
	0% {}
	50% { color: transparent; }
	100% {}
}

@keyframes rainbow-color {
	0%		{ color: var(--red); }
	16.6%	{ color: var(--yellow); }
	33.3%	{ color: var(--lime); }
	50%		{ color: var(--cyan); }
	66.6%	{ color: var(--blue); }
	83.3%	{ color: var(--magenta); }
	100%	{ color: var(--red); }
}
@keyframes rainbow-background {
	0%		{ background-color: var(--red); }
	16.6%	{ background-color: var(--yellow); }
	33.3%	{ background-color: var(--lime); }
	50%		{ background-color: var(--cyan); }
	66.6%	{ background-color: var(--blue); }
	83.3%	{ background-color: var(--magenta); }
	100%	{ background-color: var(--red); }
}
@keyframes rainbow-dark-color {
	0%		{ color: var(--red-dark); }
	16.6%	{ color: var(--yellow-dark); }
	33.3%	{ color: var(--lime-dark); }
	50%		{ color: var(--cyan-dark); }
	66.6%	{ color: var(--blue-dark); }
	83.3%	{ color: var(--magenta-dark); }
	100%	{ color: var(--red-dark); }
}
@keyframes rainbow-dark-background {
	0%		{ background-color: var(--red-dark); }
	16.6%	{ background-color: var(--yellow-dark); }
	33.3%	{ background-color: var(--lime-dark); }
	50%		{ background-color: var(--cyan-dark); }
	66.6%	{ background-color: var(--blue-dark); }
	83.3%	{ background-color: var(--magenta-dark); }
	100%	{ background-color: var(--red-dark); }
}
/*END*/
