/**********************************************************************
 *
 * Made by dst212
 * - 212dst212@gmail.com
 * - https://github.com/dst212/dst212.github.io/
 *
 **********************************************************************/

.loading-anim {
	position: relative;
	margin: var(--font-size) auto;
	display: block;
	width: calc(var(--font-size) * 4);
	height: calc(var(--font-size) * 4);
}
.loading-anim * {
	position: absolute;
	top:0;
	left:0;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: calc(var(--font-size) * 0.4) solid var(--accent);
	border-color: var(--accent) transparent transparent transparent;
	animation-name: rotate;
	animation-duration: 1.5s;
	animation-timing-function: cubic-bezier(0.65, 0.1, 0.42, 1);
	animation-iteration-count: infinite;
}
.loading-anim *:nth-child(1) {
	animation-delay: 0.15s;
}
.loading-anim *:nth-child(2) {
	animation-delay: 0.3s;
}
