/**********************************************************************
 *
 * Made by dst212
 * - 212dst212@gmail.com
 * - https://github.com/dst212/dst212.github.io/
 *
 **********************************************************************/

@import url('rules.css?0');
@import url('loading.css?0');
@import url('searchbar.css?0');
@import url('../stuff/theme/theme.css?0');
@import url('../stuff/notify/notify.css?0');
@import url('../stuff/music/music.css?0');
@import url('../stuff/tooltip/tooltip.css?0');
@import url('../stuff/magnifier/magnifier.css?0');

main::before {
	/* content:'The website is being modified in this exact moment and may undergo changes unexpectedly.'; */
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons { vertical-align:text-bottom; }
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-icon-18 { font-size: var(--icon-size-18); }
.material-icons.md-icon-24 { font-size: var(--icon-size-24); }
.material-icons.md-same { font-size: 1em; }
.material-icons.md-nav { font-size: var(--icon-size-nav); }

.theme-switcher-icon:hover * {
	transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
/*}
.theme-switcher-icon:focus {*/
	background-color: rgba(0,0,0,0);
	color: currentColor;
}

/* Most important thing, thank you CC! <3 */
#cc {
	display: block;
	text-align: center;
	border: var(--general-border) solid var(--accent);
	border-radius: var(--border-radius);
	padding: var(--spacing);
	margin: var(--spacing);
	box-shadow: var(--black-shadow-frame);
}
#cc img {
 	max-width: 7em;
}
#cc-floating {
	position: fixed;
	bottom: 0;
	left: 0;
	margin: calc(var(--spacing) + 0.1em);
	background-color: var(--accent);
	border-radius: 50%;
	box-shadow: var(--box-shadow);
}
#cc-floating .item {
	display: block;
	margin: 0.33em;
	width: var(--icon-size-24);
	height: var(--icon-size-24);
	background-color: white;
	background-image: url('https://creativecommons.org/images/chooser/chooser_cc.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border-radius: 50%;
	border: 0.1em solid white;
}
#cc-floating .content {
	text-align: center;
}

/**************************************************************general*/
html {
	scrollbar-color: var(--accent) rgba(127,127,127,0.2);
	scrollbar-width: thin;
	height:100%;
}
body {
	position: relative;
	background-color: var(--body-bg);
	color: var(--body-fg);
	font-family: var(--font-family);
	font-size: var(--font-size);
	height: 100vh;
	margin: 0;
	scrollbar-color: var(--accent) rgba(127,127,127,0.2);
	scrollbar-width: thin;
}
body * {
	-webkit-transition:a ll var(--transition);
	-moz-transition: all var(--transition);
	-ms-transition: all var(--transition);
	-o-transition: all var(--transition);
	transition: all var(--transition);
	animation-duration: var(--transition);
	font-size: inherit;
	font-family: inherit;
	box-sizing: border-box;
	scrollbar-color: var(--accent) rgba(127,127,127,0.2);
	scrollbar-width: thin;
}
*::selection,
*::-moz-selection,
*::after,
*::before {
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-ms-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
}
::-webkit-scrollbar {
	width: 0.4em;
	background-color: rgba(127,127,127,0.2);
}
::-webkit-scrollbar-button { /*arrows*/
	display: none;
}
::-webkit-scrollbar-thumb { /*"scroller"*/
	background-color: var(--accent);
}
::-webkit-scrollbar-thumb:hover { /*"scroller"*/
	background: var(--accent) linear-gradient(rgba(127,127,127,0.2),rgba(127,127,127,0.2));
}

*::selection,
*::-moz-selection {
	background-color: var(--accent);
	color: var(--body-bg);
}
*:focus {
	outline: none;
	/*background-color:var(--accent-dark-faded) linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));*/
	box-shadow: var(--general-shadow);
}

ul, ol {
	margin: 0;
	padding: 0;
	padding-left: 1.5em;
}
ul {
	list-style-type: none;
}
ul > li,
ol > li {
	margin: 0;
	padding: 0;
}
main ul > li::before {
	content: '>';
	float: left;
	margin-left: -1em;
	font-weight: bold;
}

hr {
	size: var(--general-border-bold);
	color: var(--body-fg);
	background-color: var(--body-fg);
}
small { font-size:0.8em; }
big { font-size:1.2em; }
h1 { font-size:1.8em; }
h2 { font-size:1.5em; }
h3 { font-size:1.2em; }
main h1, main h2 { text-align:center; }
main p {
	padding: 0;
	margin: 0;
	margin-bottom: var(--font-size);
}
code {
	padding-left: 0.2em;
	padding-right: 0.2em;
	color: #fff;
	background-color: #333;
	border-radius: 0.2em;
}

/*************************************************************sections*/
@media screen and (max-width: 865px) {
	:root {
		--half-body: 100%;
		--one-third-body: 100%;
		--col-margin: 0;
	}
}

section, div {
	word-wrap: break-word;
}

/*two sections*/
div.two > div {
	width: var(--half-body);
}
/*three sections*/
div.three > div {
	width: var(--one-third-body);
}
div.three > div.center {
	margin-left: calc(var(--col-margin) / 2);
	margin-right: calc(var(--col-margin) / 2);
}

div.three > div, div.two > div {
	display: inline-block;
	margin-bottom: var(--font-size);
}
div.three + *, div.two + * {
	clear:both;
}
div.three > .left, div.two > div.left {
	float: left;
	margin-right: var(--col-margin);
	position: relative;
}
div.three > .right, div.two > div.right {
	float: right;
	margin-left: var(--col-margin);
	position: relative;
}
/*div.center {
	display: block;
}*/

/********************************************************************a*/
a { color: var(--accent); }
a:focus, main a[href]:hover {
	color:var(--body-bg);
	background-color:var(--accent);
	border-radius:0.13em;
	text-decoration:none;
}

a[target=_blank]:hover {
	/*color: var(--title-fg);
	background-color: var(--title-bg);
	border-radius: 0.13em;
	text-decoration: none;*/
}
a[target=_blank] {
/* 	padding-right:1em; */
}
a[target=_blank]::after {
	/*display: inline-block;
	margin-right: -1em;
	width: 1em;
	height: 1em;
	content: '➚';*/
}
/******************************************************************img*/
img, svg {
	vertical-align: text-bottom;
}
img.icon {
	display: inline-block;
	height: var(--icon-size);
	width: var(--icon-size);
	background-color: white;
	border-radius: 35%;
}
img.cute-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	box-shadow: var(--black-shadow-frame);
}
/****************************************************************table*/
table {
	margin: 1em auto;
}
tbody {
	display: inline-block;
	margin: 1em auto;
	width: 100%;
	box-shadow: var(--box-shadow);
}
table th {
	text-align: center;
}
table td {
	text-align: initial;
}
table th, table td {
	min-width: 5em;
	max-width: 10em;
	padding: 0.5em;
	border: 0.05em solid var(--body-fg);
}
/*****************************************************************form*/
form {
	position: relative;
/* 	z-index:-1; */
}
form fieldset {
	text-align: left;
	border: var(--general-border) solid var(--accent);
	border-radius: var(--border-radius);
}
form fieldset.personal-data {
	float: right;
}
form fieldset.account-data {
	float: left;
}
*:disabled {
	opacity: 0.5;
}
input,
textarea {
	color: var(--body-fg);
	height: 1.33em;
	background-color: rgba(0,0,0,0);
	border: none;
	border-bottom: var(--general-border) solid var(--accent-faded);
	font-family: inherit;
}
input:focus,
textarea:focus {
	border-bottom-color: var(--accent);
}
form fieldset input {
	display: block;
	max-width: 20em;
}
input[type=text]:invalid,
input[type=email]:invalid,
input[type=password]:invalid,
input[type=date]:invalid,
input[type=number]:invalid {
	border-bottom-color: var(--invalid-faded);
	box-shadow: none;
}
input[type=text]:invalid:focus,
input[type=email]:invalid:focus,
input[type=password]:invalid:focus,
input[type=date]:invalid:focus,
input[type=number]:invalid:focus {
	border-bottom-color: var(--invalid);
	box-shadow: var(--general-shadow);
}
form fieldset textarea {
	height: 3em;
	font-size: inherit;
	resize: none;
	margin: var(--spacing) 0;
}
form fieldset label {
	display: block;
	margin-top: var(--font-size);
}
div.vicinivicini * {
	display: inline-block;
}

input[type=number] {
	-moz-appearance: textfield;
	appearance: textfield;
	margin: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/**************************************************************buttons*/
form div.buttons {
	clear: both;
	display: block;
	padding-top: var(--spacing);
	text-align: center;
	width: 100%;
}
form div.buttons div.checkbox {
	max-width: 40em;
	margin: auto;
	text-align: justify;
}
select,
button,
input[type=submit],
input[type=reset],
input[type=button] {
	padding: 0.25em 1em;
	height: initial;
	color: var(--accent);
	background-color: var(--body-bg);
	border: var(--general-border) solid var(--accent);
	border-radius: var(--border-radius);
	cursor: pointer;
}
select:hover,
button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover {
	color: var(--body-bg);
	background-color: var(--accent);
	border-radius: var(--half-border-radius);
	user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

@keyframes shake {
	0%		{ transform: rotate(0deg); }
	33%		{ transform: rotate(15deg); }
	67%		{ transform: rotate(-15deg); }
	100%	{ transform: rotate(0deg); }
}
button:disabled:hover,
input[type=submit]:disabled:hover,
input[type=reset]:disabled:hover,
input[type=button]:disabled:hover {
	animation-name: shake;
	animation-duration: var(--transition);
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}

.redButton { color: var(--red); border-color: var(--red); }
.redButton:hover { background-color: var(--red); }

.yellowButton { color: var(--yellow); border-color: var(--yellow); }
.yellowButton:hover { background-color: var(--yellow); }

.greenButton { color: var(--lime); border-color: var(--lime); }
.greenButton:hover { background-color: var(--lime); }

.cyanButton { color: var(--cyan); border-color: var(--cyan); }
.cyanButton:hover { background-color: var(--cyan); }

.blueButton { color: var(--blue);border-color: var(--blue); }
.blueButton:hover { background-color: var(--blue); }

.magentaButton { color: var(--magenta); border-color: var(--magenta); }
.magentaButton:hover { background-color: var(--magenta); }

.whiteButton { color: #fff; background-color: #000; border-color: var(--body-fg); }
.whiteButton:hover { color: #000; background-color: #fff; }

.blackButton { color: #000; background-color: #fff; border-color: var(--body-fg); }
.blackButton:hover { color: #fff; background-color: #000; }

.normalButton { color: currentColor; background-color: rgba(0,0,0,0); border-color: currentColor; }
.normalButton:hover { color: currentColor; background-color: rgba(0,0,0,0); }

.square {
	padding: 0.25em;
}

/************************************************************div.radio*/
/*div.checkbox*/
div.radio label,
div.checkbox label {
	display: block;
	position: relative;
	margin: 0.33em 0;
	padding-left: 1.33em;
	cursor: pointer;
	user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
div.radio input[type=radio],
div.checkbox input[type=checkbox] {
	position: absolute;
	margin: 0;
	padding: 0;
	opacity: 0;
	cursor: pointer;
	width: 0;
}
div.radio label span,
div.checkbox label span { /*checkmark*/
	position: absolute;
	top: 0;
	left: 0;
	height: var(--font-size);
	width: var(--font-size);
	/*background-color: var(--body-bg);*/
	border-radius: 50%;
	border: var(--general-border) solid var(--accent-faded);
	box-sizing: border-box;
	transition: 0.1s;
	-o-transition: 0.1s;
	-ms-transition: 0.1s;
	-moz-transition: 0.1s;
	-webkit-transition: 0.1s;
}
div.checkbox label span {
	border-radius: 5%;
}
div.radio label:hover input[type=radio] ~ span,
div.radio label input[type=radio]:focus ~ span,
div.checkbox label:hover input[type=checkbox] ~ span,
div.checkbox label input[type=checkbox]:focus ~ span {
	border-color: var(--accent);
}
div.radio label input[type=radio]:checked ~ span {
	border: var(--general-border-bold) solid var(--accent);
}
div.checkbox label input[type=checkbox]:checked ~ span {
	border: var(--general-border-bold) solid var(--accent);
	background-color: var(--accent);
}
div.checkbox label input[type=checkbox]:checked ~ span::after {
	display: block;
	content: '';
	position: absolute;
	transition: var(--transition);
}
div.checkbox label span::after {
	/*left: 26%;
	top: 13%;
	width: 26%;
	height: 50%;*/
	left: 4.7%;
	bottom: 9%;
	width: 50%;
	height: 100%;
	border: solid var(--body-bg);
	border-width: 0 var(--general-border) var(--general-border) 0;
	transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

/*******************************************************custom-classes*/
.align-center {
	text-align: center;
}
.center-block {
	display: block;
	margin: auto;
}
.overline { text-decoration:line-through; }
.bold { font-weight:bold; }
.margin-bottom { margin-bottom:var(--spacing); }
.clear { clear:both; }

.material-icons,
.no-select {
	user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.cf00, .red { color: var(--red); }
.cff0, .yellow { color: var(--yellow); }
.c0f0, .lime { color: var(--lime); }
.c0ff, .cyan { color: var(--cyan); }
.c00f, .blue { color: var(--blue); }
.cf0f, .magenta { color: var(--magenta); }

iframe.youtube {
	width: 100%;
	height: 26.67em;
}

/****************************************************website-structure*/
.updating::after,
.coming::after,
.building::after,
.beta::after {
	display: block;
	color: var(--accent);
	font-weight: bold;
	font-style: italic;
	text-align: center;
	margin: var(--spacing) 0;
}
.updating::after {
	content: 'This section is being updated in this exact moment and may undergo changes unexpectedly.';
}
.coming::after {
	content: 'Coming...';
}
.building::after {
	content: 'Uncompleted section.';
}
.beta::after {
	content: 'Experimental section.';
}
main::before {
	display: block;
	color: var(--invalid);
	text-align: center;
	font-style: italic;
	margin-bottom: var(--font-size);
}
main {
	font-size: var(--font-size);
	display: block;
	min-height: var(--body-height);
	/*width: 100%;
	padding: var(--font-size) calc((100% - var(--body-width)) / 2) 0;*/
	max-width: var(--body-width);
	padding: var(--font-size) var(--body-padding) 0;
	margin: 0 auto;
	text-align: justify;
/* 	text-align: left; */
}
main::after { /*Adds a spacer on the bottom of the body*/
	content: '';
	clear: both;
	display: block;
	height: var(--title-height-initial);
}

#title {
	width: 100%;
	height: calc(var(--header-height) + var(--title-height));
	padding: calc(var(--title-height) - var(--title-font-size) + var(--header-height)) 0 calc(var(--title-height) - var(--title-font-size));
	text-align: center;
	background-color: var(--title-bg);
	color: var(--title-fg);
	font-size: var(--title-font-size);
	font-weight: bold;
	box-shadow: var(--bottom-shadow);
	overflow: hidden;
}
/***************************************************************header*/
header *:focus {
	outline: none;
	/*background-color: var(--accent-dark-faded) linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));*/
	box-shadow: var(--grey-shadow-frame);
}
header {
	position: fixed;
	height: var(--header-height);
	top: 0;
	width: 100%;
	background-color: var(--header-bg);
	color: var(--header-fg);
	z-index: 1;
	text-align: center;
	box-shadow: var(--bottom-shadow);
}
nav {
	margin: 0.33em 0;
	padding: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}
nav span.optional {
	display: none;
}
.contact-list span.optional::before {
	content: ' - ';
}
nav ul,
nav ul > li {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.nav-element,
nav ul > li > a {
	display: inline-block;
	border-style: none;
	margin: 0;
	padding: 0.33em 0.7em;
	background-color: inherit;
	color: inherit;
	text-decoration: none;
	border-radius: 50%;
	cursor: pointer;
}
.nav-element svg {
	height: var(--icon-size-nav);
	width: var(--icon-size-nav);
	fill: currentColor;
}
.nav-element:hover,
nav ul > li:hover > a,
.dropdown:hover > .dropbtn/*keep the .dropbtn active even while hovering the .dropdown*/ {
	color: var(--header-bg);
	background-color: var(--header-fg);
	box-shadow: var(--bottom-shadow);
	border-radius: var(--border-radius);
}
.nav-element:hover svg {
	fill: currentColor;
}

.nav-element:focus,
nav ul > li > a:focus {
	border-radius: var(--border-radius);
}

a:hover .settings-icon.material-icons,
a:focus .settings-icon.material-icons {
	transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

/*dropdown menu*/

.dropdown {
	z-index: 1;
}

.dropdown:hover,
.dropdown .dropdown-content {
	z-index: 20;
}

.dropdown:hover .dropdown {
	z-index: 0;
}

.dropdown > .dropdown-content {
	display: block;
	position: absolute;
	overflow: hidden;
	max-width: 0;
	max-height: 0;

	background-color: var(--header-bg);
	border-radius: var(--border-radius);
}

.dropdown:hover > .dropdown-content/* > ul*/ {
/* 	display: block; */
	max-width: 9.2em;
	max-height: 100vh;
	box-shadow: var(--box-shadow);
	animation-name: overflow;
	overflow: visible;
}
.dropdown > .dropdown-content > ul > li {
	display: block;
	/*width: 100%;*/
	width: 9.2em;
	max-height: 0;
	margin: 0;
	padding: 0;
	text-align: left;
	/*text-align: center;*/
}
.dropdown:hover > .dropdown-content > ul > li {
	max-height: 100vh;
}
.dropdown > .dropdown-content > ul > li > a {
	padding: 0.33em 0.66em;
	width: 100%;
	pointer-events: none;
}
.dropdown:hover > .dropdown-content > ul > li > a {
	pointer-events: auto;
}

/*dropdown menu on right*/
.dropdown > .dropdown-content .dropdown > .dropbtn::after {
	display: inline-block;
	float: right;
	content: '>';
}
.dropdown > .dropdown-content .dropdown > .dropdown-content {
	margin-top: -1.87em;
	margin-left: 100%;
}

/***************************************************************footer*/
footer {
	height: var(--footer-height);
	width: 100%;
	padding: var(--spacing);
	text-align: center;
	color: var(--footer-fg);
	background-color: var(--footer-bg);
	font-size: 0.7em;
}
footer::selection,
footer *::selection {
	color: var(--footer-bg);
	background-color: var(--footer-fg);
}

/*****************************************************************logo*/
#dst212-logo {
	position: relative;
	width: var(--logo-size);
	height: var(--logo-size);
	margin: var(--spacing) auto;
	border-radius: 50%;
}
#dst212-logo * {
	transition-timing-function: linear;
	transition-duration: 0.2s;
}
#dst212-logo > .logo-below {
	stroke: var(--accent);
}
#dst212-logo .logo-above {
	stroke: var(--body-bg);
	position: absolute;
	left: calc(var(--logo-size) / 2 * -1);
	top: calc(var(--logo-size) / 2 * -1);
	width: var(--logo-size);
	height: var(--logo-size);
}
#dst212-logo > .anim {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0;
	width: 0;
	background-color: var(--accent);
	border-radius: inherit;
	overflow: hidden;
}
#dst212-logo:hover > .anim {
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
/* 	box-shadow: var(--black-shadow-frame); */
}
#dst212-logo:hover .logo-above {
	left: 0;
	top: 0;
}

/**************************************************************sponsor*/
#sponsor {
	display: block;
	position: relative;
	text-align: center;
}
#sponsor > a {
	display: block;
	margin: var(--general-margin) auto;
	max-width: var(--small-image-width);
	background-color: rgba(0,0,0,0.1);
	border-radius: var(--border-radius);
	overflow: hidden;
}
#sponsor > a[href]:hover {
	background-color: rgba(0,0,0,0);
	box-shadow: var(--general-shadow);
	border-radius: 0;
}
#sponsor > a > img {
	width: 100%;
	filter: grayscale(100%);
	position: relative;
	z-index: -1;
}
#sponsor > a:hover > img {
	filter: grayscale(0%);
}
.contacts {
	text-align: left;
}
/********************************************dropdown stand-alone menu*/
#theme-menu {
	margin: calc( var(--spacing) + 0.1em );
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1;
}
.dropdown-icons {
	display: block;
	padding: 0;
	margin: 0;
	max-height: var(--ddi-width);
	width: var(--ddi-width);
	color: var(--header-fg);
	background-color: var(--header-bg);
	border-radius: var(--ddi-border-radius);
}
.dropdown-icons.up {
	overflow: hidden;
}
.dropdown-icons * {
	color: inherit;
/* 	background-color: inherit; */
}

.dropdown-icons a {
	display: inline-block;
	padding: 0.33em;
	margin: 0;
	height: var(--ddi-width);
	width: var(--ddi-width);
	background-color: rgba(0,0,0,0);/*make shadows visible*/
	border-radius: 50%;
	font-size: var(--font-size); /*else it would inherit 0*/
}
.dropdown-icons a > * {
	background-color: rgba(0,0,0,0);/*to fix strange animations caused by .material-icons default values*/
}
.dropdown-icons a:hover {
	color: var(--header-bg);
	background-color: var(--header-fg);
	box-shadow: var(--bottom-shadow);
}
.dropdown-icons a:focus { box-shadow: none; }
.dropdown-icons a:focus:hover { box-shadow: var(--bottom-shadow); }

.dropdown-icons.down .show,
.dropdown-icons.up {
	box-shadow: var(--box-shadow);
}
.dropdown-icons .hide {
	max-height: 0;
	overflow: hidden;
}
/*.dropdown-icons.up.greater .hide > div {
	background-color: rgba(0,0,0,0);
}*/
.dropdown-icons.down .hide {
	position: absolute;
}
.dropdown-icons.greater {
	width: var(--ddi-width);
}
.dropdown-icons.down.greater .show,
.dropdown-icons.down.greater .hide,
.dropdown-icons.up.greater .show,
.dropdown-icons.up.greater .hide {
	box-shadow: none;
}
.dropdown-icons.greater:hover {
	width: calc(var(--ddi-width)*3); /*modified*/
}
.dropdown-icons.greater > * > div {
	max-height: var(--ddi-width);
	font-size: 0;
}
.dropdown-icons.up,
.dropdown-icons:hover,
.dropdown-icons:hover .hide {
	max-height: 100vh;
	box-shadow: var(--box-shadow);
	animation-name: overflow;
	overflow: visible;
}
.dropdown-icons.down .hide {
	border-radius: 0 0 var(--ddi-border-radius) var(--ddi-border-radius);
}
.dropdown-icons.down .show {
	border-radius: var(--ddi-border-radius);
}
.dropdown-icons.down:hover .show {
	border-radius: var(--ddi-border-radius) var(--ddi-border-radius) 0 0;
}

.dropdown-icons a > * {
	text-shadow: 0.05em 0.05em rgba(0,0,0,0.2);
}

.dropdown-icons a > *.no-shadow {
	text-shadow: none;
}
/*.dropdown-icons:hover .show {
	max-height: 0;
}*/

.dropdown-icons .red { color: var(--red-dark); }
.dropdown-icons .yellow { color: var(--yellow-dark); }
.dropdown-icons .lime { color: var(--lime-dark); }
.dropdown-icons .cyan { color: var(--cyan-dark); }
.dropdown-icons .blue { color: var(--blue-dark); }
.dropdown-icons .magenta { color: var(--magenta-dark); }
.dropdown-icons .red:hover { background-color: var(--red-dark); }
.dropdown-icons .yellow:hover { background-color: var(--yellow-dark); }
.dropdown-icons .lime:hover { background-color: var(--lime-dark); }
.dropdown-icons .cyan:hover { background-color: var(--cyan-dark); }
.dropdown-icons .blue:hover { background-color: var(--blue-dark); }
.dropdown-icons .magenta:hover { background-color: var(--magenta-dark); }

/*END*/
