/* Made by dst212- https://github.com/dst212/dst212.github.io/ */

:root {
	--font-size:			15px; /*meter*/
	font-size: var(--font-size);

	--header-height:		3rem;
	--title-height-initial:	3.8rem;
/* 	--title-height-final:	1.25rem; */
	--title-height-final:	0.1px;
	--title-height:			var(--title-height-initial);
	--footer-height:		4rem;
	--body-height:			calc(100vh - var(--header-height) - var(--title-height) - var(--footer-height) /*- 1px*/);
	--body-padding:			3em;
	--body-width:			calc(80rem - var(--body-padding)*2 );/*80%;/*73rem;*/

	--title-font-size:		1.65em;

	--icon-size:			1rem;
	--icon-size-18:			1.21rem;
	--icon-size-24:			1.61rem;
	--icon-size-nav:		var(--icon-size-24);

	--half-body:			49%;
	--one-third-body:		32%;
	--col-margin:			1%;

	--border-width:			0.15rem;
	--border-bold:			0.3rem;
	--border-radius:		0.5rem;
	--half-border-radius:	0.25rem;

	--font-family:			'Ubuntu Mono', Consolas, monospace;
	--duration:				0.35s;

	--box-shadow:			0.3rem 0.3rem 0.3rem 0 rgba(0,0,0,0.4);
	--bottom-shadow:		0 0.3rem 0.3rem 0 rgba(0,0,0,0.5);
	--grey-shadow-frame:	0 0 0.15rem 0.2rem rgba(127,127,127,0.45);
	--black-shadow-frame:	var(--grey-shadow-frame);
	--shadow-frame:			var(--grey-shadow-frame);

	--small-image-width:	10rem;
	--logo-size:			10rem;
}

@media screen and (max-width: 865px) {
	:root {
		--half-body: 100%;
		--one-third-body: 100%;
		--col-margin: 0;
	}
}

/*END*/
