/* Made by dst212- https://github.com/dst212/dst212.github.io/ */

.searchbar {
	position: relative;
	display: inline-block;
	max-width: 100%;
}
.searchbar > input[type=text]{
	position: relative;
	display: inline-block;
	height: 2em;
	padding: 0.2em 0.2em 0.2em 1.6em;
	margin: 0;
	border: var(--border-width) solid var(--accent-faded);
	border-radius: var(--border-radius);
	width: 12rem;
	max-width: 100%;
}
.searchbar > input[type=text]:hover,
.searchbar > input[type=text]:focus {
	border-color: var(--accent);
	border-radius: var(--half-border-radius);
}
.searchbar > input[type=text] ~ .material-icons {
	position: absolute;
	left: 0;
	--fg: var(--accent-faded);
	font-size: 1.2em;
	padding: 0.3em;
}
.searchbar > input[type=text]:hover ~ .material-icons,
.searchbar > input[type=text]:focus ~ .material-icons {
	--fg: var(--accent);
}

.searchbar.expand-on-focus > input[type=text]:focus {
	width: 30rem;
}
