/* Made by dst212- https://github.com/dst212/dst212.github.io/ */

.sections {
	height: max-content;
	width: 100%;
	overflow-x: auto;
}

.sections > input[type="radio"] {
	display: none;
}

.sections > label {
	display: inline-block;
	float: left;
	padding: 0.5em;
	height: 2em;
	width: max-content;
	--fg: var(--accent-faded);
	border-bottom: var(--border-width) solid transparent;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}
.sections > input[type="radio"]:checked + label {
	--fg: var(--accent);
	border-color: var(--accent);
}

.sections > section {
	position: relative;
	float: right;
	width: 100%;
	margin-top: 3em;
	margin-left: -100%;
	max-height: 0;
	overflow: hidden;
	--bg: var(--body-bg);
	z-index: -1;

}
.sections > input[type="radio"]:checked + label + section {
	max-height: 1000vh;
	z-index: 0;
}
