/* Made by dst212- https://github.com/dst212/dst212.github.io/ */

#sidebar {
	display: block;
	position: fixed;
	top: var(--header-height);
	left: 100vw;
	width: var(--header-height);
	height: calc(100vh - var(--header-height));
	--fg: var(--header-fg);
	--bg: var(--header-bg);
	z-index: 2;
}
#sidebar-checkbox:checked + #sidebar,
#sidebar:hover {
	left: calc(100vw - var(--header-height));
}

#sidebar > .content {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
#sidebar > .content > * {
	display: block;
	padding: 0.35rem 0;
	font-size: 1.7rem;
	text-align: center;
	text-decoration: none;
	text-shadow: 0.05em 0.05em rgba(0,0,0,0.2);
	--fg: currentColor;
	--bg: transparent;
	border-radius: 50%;
	cursor: pointer;
}
#sidebar > .content > *:hover {
	--fg: var(--header-bg);
	--bg: var(--header-fg);
	border-radius: 0;
}

#sidebar-button {
	display: block;
	position: absolute;
	top: calc(50% - 2rem);
	left: calc(2rem * -1);
	width: 4rem;
	height: 4rem;
	padding-top: 1.1rem;
	padding-left: 0.1rem;
	--bg: var(--header-bg);
	border-radius: 50%;
	cursor: pointer;
	z-index: -1;
}
#sidebar-checkbox:checked + #sidebar > #sidebar-button,
#sidebar:hover > #sidebar-button {
	left: 0;
}

#sidebar-checkbox:checked + #sidebar #sidebar-pin-button {
	border-radius: 0;
	--fg: var(--header-bg);
	--bg: var(--header-fg);
}

#sidebar-checkbox {
	display: none;
}
