/* Made by dst212- https://github.com/dst212/dst212.github.io/ */

#online-chat {
	display: none;
	min-width: 20rem;
	min-height: 10rem;
	width: 30rem;
	height: 20rem;
	max-width: 100vw;
	max-height: 100vh;
	resize: both;
	position: fixed;
	left: calc((100vw - 30rem) / 2);
	top: calc((100vh - 20rem) / 2);
	--fg: var(--body-fg);
	--bg: var(--body-bg);
	border: 0.15rem solid var(--accent);
	box-shadow: var(--box-shadow);
	overflow: hidden;
	z-index: 10;
}
#online-chat > * {
	--bg: transparent;
}
@supports ((-webkit-backdrop-filter: blur(0.5rem)) or (backdrop-filter: blur(0.5rem))) {
	#online-chat {
		--bg: rgba(50, 50, 50, 0.15);
		-webkit-backdrop-filter: blur(0.5rem);
		backdrop-filter: blur(0.5rem);
		text-shadow: 0.05rem 0.05rem rgba(0, 0, 0, 1);
	}
}

#online-chat > .dragbar {
	padding: 0.1rem;
	width: 100%;
	--fg: var(--body-bg);
	--bg: var(--accent);
	text-shadow: 0 0 transparent;
	cursor: move;
}
#online-chat > .dragbar > button {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 1.2rem;
	height: 1.2rem;
	text-align: center;
	--fg: var(--body-bg);
	border: 0 hidden transparent;
	border-radius: 0;
}
#online-chat > .dragbar > button:hover {
	--fg: var(--accent);
	--bg: var(--body-bg);
}

#chat-input {
	display: block;
	padding: 0.3rem;
	width: calc(100% - 3rem);
	height: 1.86rem;
	max-height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	border: 0 hidden transparent;
	border-top: var(--border-width) solid transparent;
	resize: none;
	text-shadow: inherit;
}
#chat-input:focus {
	box-shadow: none;
	border-color: var(--accent);
}

#chat-send-button {
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	margin: 0;
	width: 3rem;
	height: 1.86rem;
	border-radius: 0;
	text-align: center;
	font-size: 1rem;
	border: 0 solid transparent;
	border-top-width: var(--border-width);
	border-left-width: var(--border-width);
}
#chat-send-button:hover,
#chat-send-button:focus {
	--fg: var(--body-bg);
	--bg: var(--accent);
	border-radius: 0;
}
#chat-input:focus + #chat-send-button {
	border-color: var(--accent);
}

#chat-list {
	display: block;
	height: calc(100% - 1.86rem - 1.2rem);
	overflow: hidden;
}
#chat-list > * {
	max-height: 100%;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	overflow-y: auto;
}
#chat-list > * > * {
	margin-bottom: 0.2rem;
}
#chat-list > * > *:last-child {
	margin-bottom: 0.5rem;
}

.chat-command-help code:hover {
	--fg: var(--body-bg);
	--bg: var(--accent);
	cursor: pointer;
}
