/* Made by dst212- https://github.com/dst212/dst212.github.io/ */

.tooltip {
	position: relative;
	/* font-size: 0; */
}
.tooltip > * {
	/* font-size: 1rem; */
}
.tooltip > .item {
	color: var(--invalid);
	/*color: #f70; */
	/*color: var(--accent);
	background-color: var(--body-fg);
	filter: invert(1);*/
	text-decoration: underline;
}
.tooltip:hover > .item{
	/*filter: invert(0);
	background-color: inherit;*/
	box-shadow: var(--box-shadow);
}
.tooltip > .content {
	display: inline-block;
	/*position: absolute;
	top: 100%;
	left: 0;*/
	position: fixed;
	top: -100vh;
	bottom: 100vh;
	left: 0;
	right: 0;
	margin: auto;
	padding: 0.5rem;
/* 	max-height: 20vh; */
	width: 20rem;
	max-width: var(--body-width);
	background-color: var(--body-bg);
	color: var(--body-fg);
	border-radius: var(--border-radius);
	border: var(--border-width) solid var(--accent);
	overflow: hidden;
	opacity: 0;
}
.tooltip:hover > .content,
.tooltip:focus > .content,
.tooltip > .item:focus ~ .content {
	top: calc(var(--header-height) + 0.5rem);
	bottom: unset;
	box-shadow: var(--box-shadow);
	opacity: 1;
}
.tooltip:hover > .content {
	z-index: 2;
}
.tooltip:focus > .content,
.tooltip > .item:focus ~ .content {
	z-index: 1;
}

/*END*/
