/* Made by dst212- https://github.com/dst212/dst212.github.io/ */

#notifications {
	position: fixed;
	top: var(--header-height);
	right: 0;
	padding: 0.3rem;
	max-width: 35rem;
	max-height: var(--body-height);
	background-color: none;
	color: none;
	overflow: hidden;
	text-overflow: clip;
	text-align: justify;
	z-index: 100;
}
#notifications > * {
	margin: 0.5rem;
	padding: 0.5rem;
	max-height: 0;
	max-width: 0;
	opacity: 0;
	overflow: hidden;
	text-overflow: clip;
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
}
#notifications > * .ntf-title{
	display: block;
	height: 1.5rem;
	font-weight: bold;
}
#notifications > * .ntf-msg{
	padding-top: 0.3rem;
	display: block;
	max-height: 5rem;
	overflow: auto;
	text-overflow: clip;
}
#notifications > * .ntf-buttons{
	padding-top: 0.3rem;
	max-height: 4rem;
	display: block;
	text-align: center;
}
#notifications > * .ntf-buttons > * {
	margin-left: 0.3em;
	margin-right: 0.3em;
}

/*END*/
