/*Made by dst212*/

:root {
	/* horizontal bar */
	--paint-hor-toolbar-top: 4rem;
	--paint-hor-toolbar-left: 10%;
	--paint-hor-toolbar-height: 2rem;
	--paint-hor-toolbar-width: 80%;

	/* vertical bar */
	--paint-ver-toolbar-top: 10%;
	--paint-ver-toolbar-left: 4rem;
	--paint-ver-toolbar-height: 80%;
	--paint-ver-toolbar-width: 2rem;
}
#paint-toolbar {
	display: block;
	position: fixed;
	--fg: var(--header-fg);
	--bg: var(--header-bg);
	border-radius: 1rem;
	overflow: hidden;
	font-size: 0;
}
#paint-toolbar.top {
	top: var(--paint-hor-toolbar-top);
	left: var(--paint-hor-toolbar-left);
	height: var(--paint-hor-toolbar-height);
	min-width: var(--paint-hor-toolbar-height);
	max-width: var(--paint-hor-toolbar-width);
}
#paint-toolbar.bottom {
	bottom: var(--paint-hor-toolbar-top);
	left: var(--paint-hor-toolbar-left);
	height: var(--paint-hor-toolbar-height);
	min-width: var(--paint-hor-toolbar-height);
	max-width: var(--paint-hor-toolbar-width);
}
#paint-toolbar.right {
	top: var(--paint-ver-toolbar-top);
	right: var(--paint-ver-toolbar-left);
	width: var(--paint-ver-toolbar-width);
	min-height: var(--paint-hor-toolbar-height);
	max-height: var(--paint-hor-toolbar-width);
}
#paint-toolbar.left {
	top: var(--paint-ver-toolbar-top);
	left: var(--paint-ver-toolbar-left);
	width: var(--paint-ver-toolbar-width);
	min-height: var(--paint-hor-toolbar-height);
	max-height: var(--paint-hor-toolbar-width);
}
#paint-toolbar .material-icons {
	font-size: 1.6rem;
	padding: 0.2rem;
	margin: 0;
	--fg: var(--body-bg);
	--bg: transparent;
	border-width: 0;
	cursor: pointer;
	text-decoration: none;
}
#paint-toolbar input[type="file"] {
	opacity: 0;
	position: absolute;
	margin: 0;
	padding: 0;
	height: 0;
	width: 0;
	border-width: 0;
	z-index: -1;
}
#paint-toolbar .overflow-button {
	position: absolute;
	cursor: pointer;
	opacity: 0;
	margin: 0;
	padding: 0;
	width: 2rem;
	height: 2rem;
	z-index: 1;
}
#paint-toolbar .overflow {
	max-width: 0;
	max-height: 0;
}
#paint-toolbar .overflow-button:checked ~ .overflow {
	max-width: 100vw;
	max-height: 100vh;
}
/*stupid solution: actually I don't know how to do the below animation in a different way*/
@keyframes expand-icon-border-radius {
	0%		{ border-radius: initial; }
	50%		{ border-radius: 100%; }
	100%	{ border-radius: initial; }
}
@keyframes expand-icon-border-radius-again {
	0%		{ border-radius: initial; }
	50%		{ border-radius: 100%; }
	100%	{ border-radius: initial; }
}
#paint-toolbar .overflow > .more {
	animation-duration: var(--duration);
	animation-name: expand-icon-border-radius;
}
#paint-toolbar .overflow-button:checked ~ .overflow > .more {
	transform: rotate(180deg);
	animation-duration: var(--duration);
	animation-name: expand-icon-border-radius-again; /*it must change every time so that it's performed*/
}
/*end of stupid solution*/
#paint-toolbar .material-icons:hover,
#paint-toolbar .overflow-button:hover ~ .overflow > .more {
	--fg: var(--header-bg);
	--bg: var(--header-fg);
	border-radius: initial;
}

/*COLOR CHOOSER*/

.paint-dialog {
	display: block;
	position: fixed;
	right: -100%;
	padding: 1em;
	top: var(--paint-hor-toolbar-top);
	--bg: var(--header-bg);
	--fg: var(--header-fg);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}

.paint-dialog > .close {
	display: block;
	position: absolute;
	top: calc(var(--border-width) * -1 + 1px);
	right: calc(var(--border-width) * -1 + 1px);
	padding: 0.2em;
	--fg: currentColor;
	--bg: transparent;
	border-width: 0;
	border-radius: 0 var(--border-radius);
	box-sizing: border-box;
}
.paint-dialog > .close:hover {
	--bg: var(--header-fg);
	--fg: var(--header-bg);
}

.paint-dialog input {
	border-color: currentColor;
}
.paint-dialog *::selection {
	background-color: var(--header-fg);
	color: var(--header-bg);
}
.paint-dialog *::-moz-selection {
	background-color: var(--header-fg);
	color: var(--header-bg);
}

.paint-dialog input[type="range"]::-webkit-slider-thumb {
	--bg: var(--header-bg);
	border: var(--border-width) solid currentColor;
	border-radius: 50%;
	opacity: 1;
}

.paint-dialog input[type="range"]::-moz-range-thumb {
	--bg: var(--header-bg);
	border: var(--border-width) solid currentColor;
	border-radius: 50%;
	opacity: 1;
}

#paint-color-chooser > div > label {
	width: 2ch;
	overflow: hidden;
}
#paint-color-chooser input[type="range"] {
	height: 1em;
	width: 12em;
	margin: 0.5em 0 0;
	border: 0.05em solid white;
	box-sizing: border-box;
}
#paint-color-chooser input[type="range"].red {
	background-image: linear-gradient(to right, black, red);
}
#paint-color-chooser input[type="range"].green {
	background-image: linear-gradient(to right, black, lime);
}
#paint-color-chooser input[type="range"].blue {
	background-image: linear-gradient(to right, black, blue);
}
#paint-color-chooser input[type="range"].alpha {
	background-color: white;
	background-image: linear-gradient(to right, transparent, black);
}

#paint-color-chooser input[type="range"]:focus {
	box-shadow: none;
}
#paint-color-chooser input[type="range"]::-webkit-slider-thumb{
	margin: 0;
	width: 0.2em;
	height: 1.1em;
	background-color: white;
	border-width: 0;
	border-radius: 0;
	cursor: col-resize;
}
#paint-color-chooser input[type="range"]::-moz-range-thumb {
	margin: 0;
	width: 0.2em;
	height: 1.1em;
	background-color: white;
	border-width: 0;
	border-radius: 0;
	cursor: col-resize;
}

#paint-color-chooser input[type="text"] {
	display: block;
	margin: 1em auto;
	width: 9.9ch;
	background-color: black;
	color: white;
	border: 0.05em solid currentColor;
	text-align: center;
	transition: 0s;
}

#paint-color-chooser > .colors {
	display: block;
	margin: auto;
	width: 12em;
	text-align: center;
}
#paint-color-chooser > .colors > input[type="button"] {
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	margin: 0.15em;
	padding: 0;
	border: 0.05em solid white;
	border-radius: 0;
}

#paint-img {
	display: block;
	margin: 1em auto;
	max-width: 12em;
	max-height: 45vh;
}

#paint-stroke-preview {
	--fg: currentColor;
	--bg: currentColor;
	border-radius: 50%;
	transition-duration: 0.1s;
	margin: 1em auto;
}

#paint-image-dialog input,
#paint-square-dialog input,
#paint-circle-dialog input,
#paint-text-dialog input {
	margin-bottom: 0.5em;
}

.paint-dialog input[type="number"] {
	width: 4.5ch;
}

/*END*/
