/* Made by dst212- https://github.com/dst212/dst212.github.io/ */

.popup-element {
	display: block;
	position: fixed;
	margin: 0;
	padding: 0.3rem;
	max-width: 26rem;
	color: var(--body-fg);
	background-color: var(--body-bg);
	border: var(--border-width) solid var(--accent);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	text-align: justify;
	z-index: -1;
}
.popup-element > .titlebar {
	display: block;
	padding: 0.1em 1.5em /*space left for the X button*/ 0.1em 0;
	margin-bottom: 0.5rem;
	height: 1.2em;
	text-overflow: ellipsis;
}
.popup-element > .content {
	max-height: 50vh;
	overflow-y: auto;
}
.popup-element > .close {
	display: block;
	position: absolute;
	top: calc(var(--border-width) * -1 + 1px);
	right: calc(var(--border-width) * -1 + 1px);
	padding: 0.2em;
	color: var(--accent);
	background-color: transparent;
	border-width: 0;
	border-radius: 0 var(--border-radius);
	box-sizing: border-box;
}
.popup-element > .close:hover {
	background-color: var(--accent);
	color: var(--body-bg);
}
.popup-element > .buttons {
	display: block;
	margin: 0.3rem auto auto;
	text-align: center;
}
.popup-element > .buttons > * {
	margin-left: 0.3em;
	margin-right: 0.3em;
	padding: 0.1em 0.4em;
}
