/* Made by dst212- https://github.com/dst212/dst212.github.io/ */

:root, .default-style {
	--header-bg:			var(--accent);
	--header-fg:			var(--background);

	--title-bg:				var(--accent-dark);
	--title-fg:				var(--foreground);

	--body-bg:				var(--background);
	--body-fg:				var(--foreground);
}

.mono-style {
	--header-bg:			var(--background);
	--header-fg:			var(--foreground);

	--title-bg:				var(--background);
	--title-fg:				var(--foreground);

	--body-bg:				var(--background);
	--body-fg:				var(--foreground);
}
