/* Made by dst212- https://github.com/dst212/dst212.github.io/ */

:root{

	--bg-delta:				0;
	--background:			rgba(
								var(--bg-delta),
								var(--bg-delta),
								var(--bg-delta),
							1);
	--foreground:			rgba(255,255,255,1);

	--accent:				rgba(255,255,255,1);
	--accent-faded:			rgba(255,255,255,0.4);
	--accent-dark:			rgba(0,0,0,1);
	--accent-dark-faded:	rgba(0,0,0,1);

	--invalid:				rgba(255,000,000,1);
	--invalid-faded:		rgba(255,000,000,0.4);

	--header-bg:			var(--accent);
	--header-fg:			var(--background);

	--title-bg:				var(--accent-dark);
	--title-fg:				var(--foreground);

	--body-bg:				var(--background);
	--body-fg:				var(--foreground);

	--footer-bg:			var(--accent);
	--footer-fg:			var(--background);

	--red:					#f00;
	--orange:				#f80;
	--yellow:				#ff0;
	--lime:					#0f0;
	--cyan:					#0ff;
	--blue:					#00f;
	--magenta:				#f0f;
	--gray:					rgba(220,220,220,1);

	--red-dark:				#800;
	--orange-dark:			#840;
	--yellow-dark:			#880;
	--lime-dark:			#080;
	--cyan-dark:			#088;
	--blue-dark:			#008;
	--magenta-dark:			#808;
	--gray-dark:			rgba(110,110,110,1);
}
.white-mode{

	--background:			rgba(
								calc(255 - var(--bg-delta)),
								calc(255 - var(--bg-delta)),
								calc(255 - var(--bg-delta)),
							1);
	--foreground:			rgba(000,000,000,1);

	--accent:				rgba(0,0,0,1);
	--accent-faded:			rgba(0,0,0,1);
	--accent-dark:			rgba(255,255,255,1);
	--accent-dark-faded:	rgba(255,255,255,0.4);

	--invalid:				rgba(255,000,000,1);
	--invalid-faded:		rgba(255,000,000,0.4);

	--red:					#800;
	--orange:				#840;
	--yellow:				#880;
	--lime:					#080;
	--cyan:					#088;
	--blue:					#008;
	--magenta:				#808;
	--gray:					rgba(110,110,110,1);

	--red-dark:				#f00;
	--orange-dark:			#f80;
	--yellow-dark:			#ff0;
	--lime-dark:			#0f0;
	--cyan-dark:			#0ff;
	--blue-dark:			#00f;
	--magenta-dark:			#f0f;
	--gray-dark:			rgba(220,220,220,1);
}

.light-black-theme	{--accent:rgba(255,255,255,1);--accent-faded:rgba(255,255,255,0.4);--accent-dark:rgba(000,000,000,1);--accent-dark-faded:rgba(000,000,000,1.0);}
.dark-black-theme	{--accent:rgba(000,000,000,1);--accent-faded:rgba(000,000,000,1.0);--accent-dark:rgba(255,255,255,1);--accent-dark-faded:rgba(255,255,255,0.4);}

.light-gray-theme	{--accent:rgba(220,220,220,1);--accent-faded:rgba(220,220,220,0.4);--accent-dark:rgba(110,110,110,1);--accent-dark-faded:rgba(110,110,110,0.4);}
.dark-gray-theme	{--accent:rgba(110,110,110,1);--accent-faded:rgba(110,110,110,0.4);--accent-dark:rgba(220,220,220,1);--accent-dark-faded:rgba(220,220,220,0.4);}

.light-red-theme	{--accent:rgba(220,000,000,1);--accent-faded:rgba(220,000,000,0.4);--accent-dark:rgba(110,000,000,1);--accent-dark-faded:rgba(110,000,000,0.4);--invalid:rgba(220,110,000,1);--invalid-faded:rgba(220,110,000,0.4);}
.dark-red-theme		{--accent:rgba(110,000,000,1);--accent-faded:rgba(110,000,000,0.4);--accent-dark:rgba(220,000,000,1);--accent-dark-faded:rgba(220,000,000,0.4);--invalid:rgba(220,110,000,1);--invalid-faded:rgba(220,110,000,0.4);}

.light-orange-theme	{--accent:rgba(220,110,000,1);--accent-faded:rgba(220,110,000,0.4);--accent-dark:rgba(110,055,000,1);--accent-dark-faded:rgba(110,055,000,0.4);}
.dark-orange-theme	{--accent:rgba(110,055,000,1);--accent-faded:rgba(110,055,000,0.4);--accent-dark:rgba(220,110,000,1);--accent-dark-faded:rgba(220,110,000,0.4);}

.light-yellow-theme	{--accent:rgba(220,220,000,1);--accent-faded:rgba(220,220,000,0.4);--accent-dark:rgba(110,110,000,1);--accent-dark-faded:rgba(110,110,000,0.4);}
.dark-yellow-theme	{--accent:rgba(110,110,000,1);--accent-faded:rgba(110,110,000,0.4);--accent-dark:rgba(220,220,000,1);--accent-dark-faded:rgba(220,220,000,0.4);}

.light-lime-theme	{--accent:rgba(000,220,000,1);--accent-faded:rgba(000,220,000,0.4);--accent-dark:rgba(000,110,000,1);--accent-dark-faded:rgba(000,110,000,0.4);}
.dark-lime-theme	{--accent:rgba(000,110,000,1);--accent-faded:rgba(000,110,000,0.4);--accent-dark:rgba(000,220,000,1);--accent-dark-faded:rgba(000,220,000,0.4);}

.light-cyan-theme	{--accent:rgba(000,220,220,1);--accent-faded:rgba(000,220,220,0.4);--accent-dark:rgba(000,110,110,1);--accent-dark-faded:rgba(000,110,110,0.4);}
.dark-cyan-theme	{--accent:rgba(000,110,110,1);--accent-faded:rgba(000,110,110,0.4);--accent-dark:rgba(000,220,220,1);--accent-dark-faded:rgba(000,220,220,0.4);}

.light-blue-theme	{--accent:rgba(000,000,220,1);--accent-faded:rgba(000,000,220,0.4);--accent-dark:rgba(000,000,110,1);--accent-dark-faded:rgba(000,000,110,0.4);}
.dark-blue-theme	{--accent:rgba(000,000,110,1);--accent-faded:rgba(000,000,110,0.4);--accent-dark:rgba(000,000,220,1);--accent-dark-faded:rgba(000,000,220,0.4);}

.light-magenta-theme{--accent:rgba(220,000,220,1);--accent-faded:rgba(220,000,220,0.4);--accent-dark:rgba(110,000,110,1);--accent-dark-faded:rgba(110,000,110,0.4);}
.dark-magenta-theme	{--accent:rgba(110,000,110,1);--accent-faded:rgba(110,000,110,0.4);--accent-dark:rgba(220,000,220,1);--accent-dark-faded:rgba(220,000,220,0.4);}

.disable-transitions{--duration:0s;}

/*END*/
