/* Made by dst212- https://github.com/dst212/dst212.github.io/ */

#magnifier {
	position: fixed;
	bottom: -100%;
	background-color: rgba(0,0,0,0.4);
	overflow-y: auto;
	height: calc(100vh - var(--header-height));
	width: 100%;
	z-index: 1;
	opacity: 0;
}
#magnifier > .exit{
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	background-color: var(--body-bg);
}
#magnifier > .exit:hover {
	background-color: var(--accent);
}
#magnifier > #magnifier-img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 3rem auto auto auto;
	max-height: calc(100% - 6em);
	max-width: calc(100% - 6em);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
}
#magnifier > #magnifier-content {
	display: inline-block;
	margin: var(--spacing-50);
	padding: 0.1rem;
	background-color: var(--body-bg);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	text-align: center;
}

/*END*/
